$bg-lighter-grey: #dedede;
$bg-light-grey: #bfbfbf;
$bg-lighter-blue: #EFF6FF;
$bg-light-blue: #DBEAFE;
$color-dark-blue: #BFDBFE;
$color-darker-blue: #93C5FD;

@import "./components/CalendarMonth";

body {
    padding-top: 8px;
}
