$bg-lighter-grey: #dedede;
$bg-light-grey: #bfbfbf;
$bg-lighter-blue: #EFF6FF;
$bg-light-blue: #DBEAFE;
$color-dark-blue: #BFDBFE;
$color-darker-blue: #93C5FD;
$color-darkest-blue: #2a327d;

@import "./components/CalendarMonth";
@import "./components/ReminderManageModal";
@import "./components/CalendarMonthHeader";

.bullet {
    height: 1rem;
    border-radius: 30px;
}

body {
    padding-top: 8px;
    padding-bottom: 4px;
}
